@charset "utf-8";
.list-title {
  color: #c69c6d;
  font-size: 16px;
  letter-spacing: 3px;
}
.list-more {
  font-size: 16px;
  letter-spacing: 3px;
  color: #000;
}
.list-more:hover {
  color: #08b5fb;
  text-decoration: none;
}
/*定义导航栏的样式*/
.newColor {
  background: #d8210d !important;
}
.nav {
  background: #d8210d;
}
.nav a {
  color: #fff;
  font-size: 16px;
}
.nav-ul {
  width: 980px;
}
.nav-ul li {
  margin-right: 80px;
}
.tright-ul li {
  margin-left: 5px;
}
/*轮播图的样式*/
#slideBox {
  position: relative;
  width: 100%;
}
#slideBox .hd {
  width: 250px;
  height: 30px;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 5%;
  margin-left: -105px;
  z-index: 10;
}
#slideBox .hd ul li {
  float: left;
  width: 45px;
  line-height: 30px;
  cursor: pointer;
  color: #fff;
  background: #000;
}
#slideBox .hd ul li img {
  width: 100%;
}
#slideBox .bd {
  width: 100%;
}
#slideBox .bd ul li img {
  width: 100%;
  height: 400px;
}
/*搜索框的样式*/
.search_index div {
  width: 500px;
  margin: 0 auto;
  height: 34px;
  margin-top: 15px;
  margin-bottom: 40px;
}
.search_index div input {
  box-sizing: border-box;
  width: 430px;
  height: 34px;
  border: 1px solid #c69c6d;
}
.search_index div span {
  box-sizing: border-box;
  display: inline-block;
  width: 70px;
  height: 34px;
  background: #c69c6d;
  color: #fff;
  line-height: 34px;
  padding: 0 15px;
}
/*商品导航栏*/
.thing-nav {
  width: 980px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  font-size: 16px;
}
.thing-nav li.main_list {
  width: 19.9%;
  background: #d8210d;
  color: #fff;
  letter-spacing: 5px;
}
.thing-nav span.border {
  border-left: 1px solid #fff;
}
.thing-nav li.on {
  box-sizing: border-box;
  width: 19.9%;
  height: 40px;
  border: 1px solid #d8210d;
  background: #fff;
  color: #d8210d;
  letter-spacing: 5px;
}
/*大个商品的详细页面*/
.thing-detail {
  box-sizing: border-box;
  width: 980px;
  height: 300px;
  margin: 0 auto;
}
.thing-detail .td_img {
  display: inline-block;
  width: 550px;
  height: 300px;
}
.thing-detail .td_img img {
  width: 550px;
  height: 300px;
}
.thing-detail .tb_word {
  display: inline-block;
  width: 430px;
  height: 300px;
  color: #c69c6d;
}
.thing-detail .tb_word h2 {
  font-size: 35px ;
  line-height: 35px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 30px;
  letter-spacing: 8px;
}
.thing-detail .tb_word p {
  font-size: 16px;
  width: 280px;
  margin: 0 auto;
  line-height: 25px;
  letter-spacing: 2px;
}
.thing-detail .tb_word a {
  display: inline-block;
  color: #c69c6d;
  border: 1px solid #c69c6d;
  padding: 5px 15px;
  font-size: 16px;
  margin-top: 25px;
  font-weight: bold;
}
/*总商品详细*/
.tl-title {
  width: 980px;
  margin: 0 auto;
}
