@charset "utf-8";
@main-color:#d8210d;//主要颜色
@com-color:#c69c6d;//辅助颜色
@things-btn-color:#ff0036;//商品按钮颜色
@succ-btn-color:#7bbc47;//商品按钮hover
@things-color:#22f6e4;//分期购颜色
@main-width:980px;//主要的宽度
@import "common.less";
/*定义导航栏的样式*/
.newColor{
    background: @main-color !important;
}
.nav{
    background: #d8210d;
}
.nav a{
    color:#fff;
    font-size:16px;
}
.nav-ul{
    width: @main-width;
    li{
        margin-right: 80px;
    }
}
.tright-ul li{
    margin-left:5px;
}
/*轮播图的样式*/
#slideBox{
    position: relative;
    width: 100%;
}
#slideBox .hd{
    width: 250px;
    height: 30px;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom:5%;
    margin-left: -105px;
    z-index: 10;
    ul li{
        float:left;
        width: 45px;
        line-height: 30px;
        cursor: pointer;
        color:#fff;
        background: #000;
        img{
            width: 100%;
        }
    }
}
#slideBox .bd{
    width: 100%;
    ul li{
        img{
            width: 100%;
            height: 400px;
        }
    }
}
/*搜索框的样式*/
.search_index{
    div{
       width:500px;
        margin: 0 auto;
        height: 44px;
        margin-top: 15px;
        margin-bottom: 20px;
        input{
            box-sizing: border-box;
            width: 430px;
            height: 44px;
            line-height: 44px;
            border:1px solid @com-color;
            vertical-align: bottom;
            padding-left: 10px;
        }
        span{
            box-sizing: border-box;
            display: inline-block;
            letter-spacing: 3px;
            width: 70px;
            height: 44px;
            background: @com-color;
            color:#fff;
            line-height: 44px;
            padding: 0 15px;
            vertical-align: bottom;
        }
    }
}
/*商品导航栏*/
.thing-nav{
    width: @main-width;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    font-size:16px;
    li.main_list{
        width: 19.9%;
        background: @main-color;
        color:#fff;
        letter-spacing: 5px;
    }
    span.border{
         border-left:1px solid #fff;
     }
    li.on{
        box-sizing: border-box;
        width: 19.9%;
        height: 40px;
        border: 1px solid @main-color;
        background: #fff;
        color:@main-color;
        letter-spacing: 5px;
    }
}
/*大个商品的详细页面*/
.thing-detail{
    box-sizing: border-box;
    width: @main-width;
    height: 300px;
    margin: 0 auto;
    .td_img{
        display: inline-block;
        width: 550px;
        height: 300px;
        img{
            width: 550px;
            height: 300px;
        }
    }
    .tb_word{
        display: inline-block;
        width: 430px;
        height: 300px;
        color:@com-color;
        //text-align: center;
        h2{
            font-size:35px ;
            line-height: 35px;
            font-weight: bold;
            margin-top: 40px;
            margin-bottom: 30px;
            letter-spacing: 8px;
        }
        p{
            font-size: 16px;
            width: 280px;
            margin: 0 auto;
            line-height: 25px;
            letter-spacing: 2px;
        }
        a{
            display: inline-block;
            color:@com-color;
            border: 1px solid @com-color;
            padding: 5px 15px;
            font-size:16px;
            margin-top: 25px;
            font-weight: bold;
        }
    }
}
/*总商品详细*/
.tl-title{
    width: @main-width;
    height: 30px;
    margin: 15px auto 0px;
}
.tl-detail{
    width:@main-width;
    margin: 0 auto;
    ul{
        width: 100%;
        li{
            position: relative;
            box-sizing: border-box;
            width: 23.5%;
            height: 390px;
            margin:0 7px;
            margin-top: 14px;
            margin-bottom: 14px;
            background: #fff;
            p{
                position: absolute;
                top:-10px;
                left:-10px;
                display: inline-block;
                width: 70px;
                height: 34px;
                line-height: 34px;
                background: @things-color;
                color:#fff;
                font-size: 16px;
                letter-spacing: 3px;
            }
            div{
                width: 100%;
                height: 100%;
               dl{
                   img{
                        width:232px;
                       height:240px;
                   }
                   h3{
                       display: inline-block;
                       width: 200px;
                       height: 40px;
                       line-height: 20px;
                       margin: 0 auto;
                        text-align: left;
                       font-size: 12px;
                       margin-top: 14px;
                       margin-bottom: 10px;
                   }
                   span {
                       color: @main-color;
                       margin-right: 10px;
                       display: inline-block;
                       font-size: 14px;
                   }
                   b{
                       display:inline-block;
                       margin-right: 5px;
                       font-size: 14px;
                   }
                        a{
                            display:inline-block;
                            width: 140px;
                            height: 40px;
                            line-height: 40px;
                            margin-top: 10px;
                            letter-spacing: 3px;
                            color:#fff;
                            background:@things-btn-color;
                            font-size: 16px;
                        }
                   a:hover{
                       //text-decoration: none;
                       text-decoration: none;
                       font-size: 20px;
                       background-image:url("../images/side.png");
                       //background-repeat: no-repeat;
                       background-position: 90px 39px;
                       background-color: @things-btn-color;
                   }
               }
            }
        }
    }
}
.thing-flow{
    width: 980px;
    height: 100px;
    margin: 0 auto;
    .tf-title{
        width: 100px;
    }
}
/*侧边栏*/
.side{
   position:fixed;
    right: 0;
    top:50%;
    width: 140px;
    height: 324px;
    margin-top: -150px;
    box-sizing: border-box;
    &>div{
        vertical-align: middle;
        margin-left: 10px;
        span{
            display: inline-block;
            width: 22px;
            height: 30px;
            background-image: url("../images/side.png");
            background-position: 0 157px;
            margin-top: 150px;
        }
    }
    &>ul{
        display: inline-block;
        width: 80px;
        &>
        li{
            display: inline-block;
            width: 80px;
            height: 80px;
            position: relative;
            border-bottom:1px solid #fff;
            background: @com-color;
            &>a span{
                display: inline-block;
                width: 39px;
                height: 48px;
                position: absolute;
                top:20px;
                left:25px;
            }
            div{
                display: none;
                width: 80px;
                height:80px;
                position: absolute;
                top:0;
                left:0;
                background-color: rgba(0,0,0,.5);
            }
            p{
                display: none;
                width: 80px;
                height:20px;
                font-size: 16px;
                font-weight: bold;
                vertical-align: middle;
                position: absolute;
                top:30px;
                left:0;
                color:#fff;
            }
            ul{
                position:fixed;
                top:50%;
                margin-top: -150px;
                right:85px;
                width: 160px;
                height: 324px;
                li{
                    width:160px;
                    height: 160px;
                    background: #fff;
                    margin-bottom: 2px;
                    span{
                      display:inline-block;
                        width: 100%;
                        font-size: 16px;
                    }
                }
            }
        }

        li:last-child{
            border: none;
        }
        li:first-child{
            span{
                background: url("../images/side.png") 38px 0;
            }
        }
        li:nth-child(2){
            span{
                background: url("../images/side.png") 38px 212px;
            }
        }
        li:nth-child(3){
            span{
                background: url("../images/side.png") 38px 125px;
            }
        }
        li:nth-child(4){
            span{
                background: url("../images/side.png") 38px 48px;
            }
        }
    }


}

