@charset "utf-8";
.list-title {
  color: #c69c6d;
  font-size: 16px;
  letter-spacing: 3px;
}
.list-more {
  font-size: 16px;
  letter-spacing: 3px;
  color: #000;
}
.list-more:hover {
  color: #08b5fb;
  text-decoration: none;
}
/*定义导航栏的样式*/
.newColor {
  background: #d8210d !important;
}
.nav {
  background: #d8210d;
}
.nav a {
  color: #fff;
  font-size: 16px;
}
.nav-ul {
  width: 980px;
}
.nav-ul li {
  margin-right: 80px;
}
.tright-ul li {
  margin-left: 5px;
}
/*轮播图的样式*/
#slideBox {
  position: relative;
  width: 100%;
}
#slideBox .hd {
  width: 250px;
  height: 30px;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 5%;
  margin-left: -105px;
  z-index: 10;
}
#slideBox .hd ul li {
  float: left;
  width: 45px;
  line-height: 30px;
  cursor: pointer;
  color: #fff;
  background: #000;
}
#slideBox .hd ul li img {
  width: 100%;
}
#slideBox .bd {
  width: 100%;
}
#slideBox .bd ul li img {
  width: 100%;
  height: 400px;
}
/*搜索框的样式*/
.search_index div {
  width: 500px;
  margin: 0 auto;
  height: 44px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.search_index div input {
  box-sizing: border-box;
  width: 430px;
  height: 44px;
  line-height: 44px;
  border: 1px solid #c69c6d;
  vertical-align: bottom;
  padding-left: 10px;
}
.search_index div span {
  box-sizing: border-box;
  display: inline-block;
  letter-spacing: 3px;
  width: 70px;
  height: 44px;
  background: #c69c6d;
  color: #fff;
  line-height: 44px;
  padding: 0 15px;
  vertical-align: bottom;
}
/*商品导航栏*/
.thing-nav {
  width: 980px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  font-size: 16px;
}
.thing-nav li.main_list {
  width: 19.9%;
  background: #d8210d;
  color: #fff;
  letter-spacing: 5px;
}
.thing-nav span.border {
  border-left: 1px solid #fff;
}
.thing-nav li.on {
  box-sizing: border-box;
  width: 19.9%;
  height: 40px;
  border: 1px solid #d8210d;
  background: #fff;
  color: #d8210d;
  letter-spacing: 5px;
}
/*大个商品的详细页面*/
.thing-detail {
  box-sizing: border-box;
  width: 980px;
  height: 300px;
  margin: 0 auto;
}
.thing-detail .td_img {
  display: inline-block;
  width: 550px;
  height: 300px;
}
.thing-detail .td_img img {
  width: 550px;
  height: 300px;
}
.thing-detail .tb_word {
  display: inline-block;
  width: 430px;
  height: 300px;
  color: #c69c6d;
}
.thing-detail .tb_word h2 {
  font-size: 35px ;
  line-height: 35px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 30px;
  letter-spacing: 8px;
}
.thing-detail .tb_word p {
  font-size: 16px;
  width: 280px;
  margin: 0 auto;
  line-height: 25px;
  letter-spacing: 2px;
}
.thing-detail .tb_word a {
  display: inline-block;
  color: #c69c6d;
  border: 1px solid #c69c6d;
  padding: 5px 15px;
  font-size: 16px;
  margin-top: 25px;
  font-weight: bold;
}
/*总商品详细*/
.tl-title {
  width: 980px;
  height: 30px;
  margin: 15px auto 0px;
}
.tl-detail {
  width: 980px;
  margin: 0 auto;
}
.tl-detail ul {
  width: 100%;
}
.tl-detail ul li {
  position: relative;
  box-sizing: border-box;
  width: 23.5%;
  height: 390px;
  margin: 0 7px;
  margin-top: 14px;
  margin-bottom: 14px;
  background: #fff;
}
.tl-detail ul li p {
  position: absolute;
  top: -10px;
  left: -10px;
  display: inline-block;
  width: 70px;
  height: 34px;
  line-height: 34px;
  background: #22f6e4;
  color: #fff;
  font-size: 16px;
  letter-spacing: 3px;
}
.tl-detail ul li div {
  width: 100%;
  height: 100%;
}
.tl-detail ul li div dl img {
  width: 232px;
  height: 240px;
}
.tl-detail ul li div dl h3 {
  display: inline-block;
  width: 200px;
  height: 40px;
  line-height: 20px;
  margin: 0 auto;
  text-align: left;
  font-size: 12px;
  margin-top: 14px;
  margin-bottom: 10px;
}
.tl-detail ul li div dl span {
  color: #d8210d;
  margin-right: 10px;
  display: inline-block;
  font-size: 14px;
}
.tl-detail ul li div dl b {
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
}
.tl-detail ul li div dl a {
  display: inline-block;
  width: 140px;
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
  letter-spacing: 3px;
  color: #fff;
  background: #ff0036;
  font-size: 16px;
}
.tl-detail ul li div dl a:hover {
  text-decoration: none;
  font-size: 20px;
  background-image: url("../images/side.png");
  background-position: 90px 39px;
  background-color: #ff0036;
}
.thing-flow {
  width: 980px;
  height: 100px;
  margin: 0 auto;
}
.thing-flow .tf-title {
  width: 100px;
}
/*侧边栏*/
.side {
  position: fixed;
  right: 0;
  top: 50%;
  width: 140px;
  height: 324px;
  margin-top: -150px;
  box-sizing: border-box;
}
.side > div {
  vertical-align: middle;
  margin-left: 10px;
}
.side > div span {
  display: inline-block;
  width: 22px;
  height: 30px;
  background-image: url("../images/side.png");
  background-position: 0 157px;
  margin-top: 150px;
}
.side > ul {
  display: inline-block;
  width: 80px;
}
.side > ul > li {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: relative;
  border-bottom: 1px solid #fff;
  background: #c69c6d;
}
.side > ul > li > a span {
  display: inline-block;
  width: 39px;
  height: 48px;
  position: absolute;
  top: 20px;
  left: 25px;
}
.side > ul > li div {
  display: none;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.side > ul > li p {
  display: none;
  width: 80px;
  height: 20px;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
  position: absolute;
  top: 30px;
  left: 0;
  color: #fff;
}
.side > ul > li ul {
  position: fixed;
  top: 50%;
  margin-top: -150px;
  right: 85px;
  width: 160px;
  height: 324px;
}
.side > ul > li ul li {
  width: 160px;
  height: 160px;
  background: #fff;
  margin-bottom: 2px;
}
.side > ul > li ul li span {
  display: inline-block;
  width: 100%;
  font-size: 16px;
}
.side > ul li:last-child {
  border: none;
}
.side > ul li:first-child span {
  background: url("../images/side.png") 38px 0;
}
.side > ul li:nth-child(2) span {
  background: url("../images/side.png") 38px 212px;
}
.side > ul li:nth-child(3) span {
  background: url("../images/side.png") 38px 125px;
}
.side > ul li:nth-child(4) span {
  background: url("../images/side.png") 38px 48px;
}
